<h2>Привет, {{user}}</h2>
<h3>Возможно, тебя заинтересует одно из недавно опубликованных заданий.</h3>
<ul>
{{#each tasks}}
  <li>Заголовок: {{this.title}}, категория задания: {{this.categoryId}}, стоимость: {{this.budget}}</li>
{{/each}}
</ul>
